body{
    margin:0;
}


.title{
    float:center;
    padding:10px;
    background-color: #2c2c2c;
    color: #f2df9a;
    font-size: 23pt;
    text-align: center;
}

.btn-menu{
    display: none;
}

#navbar{
    display:block;
}

nav{
    background-color: #4d4c4c;
    color:white;
}

nav ul{
    text-align: center;
    list-style-type:none;
    margin:0;
    padding:0;
}

nav li a{
    text-decoration: none;
    color: white;
    padding: 15px;
}

nav li a:hover{
    color: #f5da78;
    background-color: #646464;
}

nav li{
    display: inline-block;
    padding: 15px;
    padding-left: 0px;
    padding-right: 0px;
}


.testoNascosto {
    display: none;
    text-align: center;
    background-color: rgba(236, 236, 236, 0.5);
    text-align: justify;
    font-size: 15pt;
    margin-left: 50pt;
    margin-right: 50pt;
    border-radius: 20pt;
    overflow: hidden;
    padding: 20pt;
}
.menu li:hover{
    background-color: greenyellow;
}
.intro{
    font-size: 20pt;
    margin-left: 50pt;
    margin-right: 50pt;
    text-align: justify;
    background-color: rgba(236, 236, 236, 0.5);
    border-radius: 20pt;
    overflow: hidden;
    padding: 20pt;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto; /* Imposta il margine superiore a "auto" per spingere il footer verso il basso */
}

@media screen and (max-width:600px)
{
    .btn-menu{
        display: block;
        float:right;
        text-decoration:none;
        color: white; 
    }

    #navbar{
        display:none;
    }

    nav ul li{
        display: block;
    }

    
}