body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image:URL(immages/background.png);
    background-attachment:fixed;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}



.titlen{
    text-decoration: none;
    color: #f2df9a;
}

.titolo-intro{
    padding: 0;
    margin:0;
    font-size: 35pt;
    font-style: italic;
    font-weight: bold;
    color:#000000;
}

#header-wrapper {
    position: fixed;
    width: 100%;
    top: 0;
}

#header-wrapper + * {
    min-height: calc(100vh - 70px); /* 70px è l'altezza della barra di navigazione */
}

.title{
    float:center;
    padding:10px;
    background-color: #2c2c2c;
    color: #f2df9a;
    font-size: 23pt;
    text-align: center;
}



#testo0, #testo1, #testo2,#testo3,#testo4,#testo5,#testo6,#testo7{
    padding-top: 100px; 
    font-size: 1.4rem;
    color:#333;
    line-height: 1.6;
}

.btn-menu{
    display: none;
}

#navbar{
    display:block;
}

nav{
    background-color: #4d4c4c;
    color:white;
}

nav ul{
    text-align: center;
    list-style-type:none;
    margin:0;
    padding:0;
}

nav li a{
    text-decoration: none;
    color: white;
    padding: 15px;
}

nav li a:hover{
    cursor:pointer;
    color: #f5da78;
    background-color: #646464;
    
}

nav li{
    display: inline-block;
    padding: 15px;
    padding-left: 0px;
    padding-right: 0px;
}


.testoNascosto {
    text-align: center;
    background-color: rgba(212, 205, 139, 0.8);
    text-align: justify;
    font-size: 15pt;
    margin:0;
    overflow: hidden;
    padding: 20pt;
}
.intro{
    text-align: center;
    background-color: rgba(212, 205, 139, 0.8);
    text-align: justify;
    font-size: 15pt;
    margin:0;
    overflow: hidden;
    padding: 20pt;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto; /* Imposta il margine superiore a "auto" per spingere il footer verso il basso */
}

@media screen and (max-width:600px)
{
    .responsive-image {
        padding-top: 50px;
    }
    .btn-menu{
        display: block;
        float:right;
        text-decoration:none;
        color: white; 
    }

    #navbar{
        display:none;
    }

    nav ul li{
        display: block;
    }

    
}